
/// font
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/// 변수
$use-color: (
        black1-c: #363636,
        black2-c: #cccccc,
        white-c: #ffffff,
        white2-c: rgb(239, 239, 239),
        gray-c: #666666,
        gray2-c: #bbbbbb,
        gray3-c: #dddddd,
        gray4-c: #9f9f9f,
        gray5-c: rgb(175, 181, 181),
        bg-c: rgb(243, 253, 253),
        circle1-c: rgb(184, 103, 79),
        circle2-c: rgb(90, 63, 53),
        circle3-c: rgb(207, 188, 106),
        circle4-c: rgb(111, 103, 68),
        circle5-c: rgb(97, 139, 149),
        circle6-c: rgb(69, 84, 73),
        user1-c: rgb(232, 155, 157),
        user2-c: rgb(256, 200, 203),
        user3-c:rgb(146, 180, 215),
        logo2-c: #7f7f7f
);

$use-font: (
        xsmall4-f:0.75rem,
        xsmall-f:0.8rem,
        xsmall2-f:0.9rem,
        xsmall3-f:1.0rem,
        small-f:1.1rem,
        medium2-f:1.3rem,
        medium-f:1.6rem,
        large-f:1.9rem,
        large2-f:2.0rem,
        mlarge-f: 2.8rem,
        xlarge-f:5.4rem
);


$font-family: 'Roboto', 'Noto Sans KR', sans-serif;
$box-shadow: 0 0 15px #bbb;

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin hidden() {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999%;
  text-indent: -9999px;
  line-height: 0;
}

@mixin form-style() {
  border: 0;
  background-color: map_get($use-color, white-c);
  color: map_get($use-color, black-c);
  padding-left:5px;
  height:38px;
  line-height: 38px;
}

@mixin icon-style($sns) {
  @if $sns == facebook_icon{
    background-image:url('../images/facebook.svg');
  }
  @else if $sns == telegram_icon{
    background-image:url('../images/telegram.svg');
  }
  @else if $sns == medium_icon{
    background-image:url('../images/medium.svg');
  }
  @else if $sns == github{
    background-image:url('../images/github.svg');
  }
  @else if $sns == linkedin_icon{
    background-image:url('../images/linkedin.svg');
  }
  @else if $sns == twitter_icon{
    background-image:url('../images/twitter.svg');
  }
  @else if $sns == kakao_icon{
    background-image:url('../images/kakao.svg');
  }
}

@mixin basic-icon(){
  width: 26px;
  height: 26px;
  display: block;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  text-indent: -9999%;
  border:none;
  cursor:pointer;
  outline:none;
}

@mixin btn-style($btn) {
  @if $btn == basic{
    border-radius: 100px;
    color: map_get($use-color, gray5-c);
    text-align: center;
    border: 1px solid map_get($use-color, gray5-c);
    padding:1.5rem;
  }
  @else if $btn == submit{
    border: none;
    background-color: map_get($use-color, hover-c);
    border-radius: 0;
    text-align: center;
    padding:0.5rem 1.5rem;
    color: map_get($use-color, white-c);
    cursor: pointer;
  }
}

@mixin basic-padding($p_set){
  padding-top: $p_set;
  padding-bottom: $p_set;
}

@mixin gradient(){
  background: #9a6aff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #9a6aff 0%, #6eff90 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #9a6aff 0%,#6eff90 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #9a6aff 0%,#6eff90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin gradient2(){
  background: #9db1b9; /* Old browsers */
  background: -moz-linear-gradient(45deg, #9db1b9 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #9db1b9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #9db1b9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin text-gradient(){
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0,  #9a6aff), color-stop(0.1, #6eff90), color-stop(0.7, #9a6aff) );
  background-image: gradient( linear, left top, right top, color-stop(0,  #9a6aff), color-stop(0.1, #6eff90), color-stop(0.7, #9a6aff)  );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
